<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>
<!--<body background="../images/pic07.jpg" style=" background-repeat:no-repeat ;background-size: cover;background-attachment: fixed;"></body>-->
<!--<script language="JavaScript" type="text/javascript" th:inline="javascript">-->
<!--    console.log("myquestions_session"+[[${session.idno}]])-->
<!--    if([[${session.attendantName}]]==null){-->
<!--        window.location.replace("/nouser1");-->
<!--    }-->
<!--</script>-->
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#" th:text="${session.userName}" data-toggle="dropdown">喵卷星</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/myquestions/main">个人信息</a>
<!--        <a class="dropdown-item" href="#">Another action</a>-->
        <a class="dropdown-item" href="/">注销</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand/logo -->
<!--    <a class="navbar-brand" href="#">-->
<!--        <img src="favicon.ico" alt="logo" style="width:40px;">-->
<!--    </a>-->

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
<!--            <input id="tel" th:value="${member.tel}">-->
<!--            <input id="pwd" th:value="${member.pwd}">-->
            <a class="nav-link" href="/myquestions/questions">回答问卷</a>
        </li>
    </ul>
</nav>

<!--内容-->
<div th:switch="${opttype}" style="margin-top:80px">
    <div th:case="main" class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center font-weight-bold">欢迎使用喵卷星</h2>
            </div>
        </div>
        <div class="row" align="center">
            <dvi class="col-sm-3"></dvi>
            <div class="col-sm-6" align="center">
                <ul>
                    <p ><li><h3>ID :<span class="badge badge-secondary" id="main_user_id"></span></h3></li></p>
                    <p ><li>用户名 :<input id="main_username" type="text" name="name" > <button id="change_username" class="btn btn-primary" type="button">修改用户名</button><br></li></p>
                    <P ><li>密码   :<input id="main_pwd" type="text" name="name" > <button id="change_pwd" class="btn btn-primary" type="button">修改密码</button><br></li></P>
                    <P ><li>电话   :<input id="main_tel" type="tel" name="name" > <button id="change_tel" class="btn btn-primary" type="button">修改电话</button><br></li></P>
                    <P ><li>邮箱   :<input id="main_email" type="email" name="name" > <button id="change_email" class="btn btn-primary" type="button">修改邮箱</button><br></li></p>
                </ul>
            </div>
        </div>
</div>
    <div th:case="questions">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <ul class="list-group">
                        <li class="list-group-item">
                            分类
                        </li>
                        <li class="list-group-item">
                            <a href="/myquestions/questions">全部问题</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/myquestions/questions?range=unanswered">未回答问题</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/myquestions/questions?range=answered">已回答问题</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/myquestions/questions?range=stopped">已结束问题</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/myquestions/questions?range=running">进行中问题</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/myquestions/questions?range=will">未开始问题</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <form class="form-search">
                        <input id="find_input" class="input-medium search-query" type="text" /> <a id="find_button" type="submit" class="btn btn-primary">查找</a>
                    </form>
                    <table class="table table-striped table-bordered table-hover" style="margin-top:30px">
                        <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                问卷名
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                创建时间
                            </th>
                            <th>
                                按钮
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="invest:${questionlist}">
                            <td th:text="${invest.id}"></td>
                            <td id="invest_title_td" th:text="${invest.title}"></td>
                            <td name="invest_status" th:text="${invest.status}"></td>
                            <td th:text="${invest.created}"></td>
                            <td><a  th:onclick="'answerquestion_user('+${invest.id}+','+${invest.status}+')'"  href="#">回答</a> <a th:href="@{/myquestions/showdata(id=${invest.id})}" >查看数据</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-2">
                    <ul class="list-group">
                        <li class="list-group-item">
                            功能
                        </li>
                        <li class="list-group-item">
                            <a href="/excel/downallexcel">导出全部问卷</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:case="showinvest">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
        </div>
            <div class="col-sm-6">
                <h2 th:text="${invest.title}" class="text-center font-weight-bold"></h2>
                <h5 class="page-header"></h5><br>
                <form th:action="@{/myquestions/save}" method="get">
                    <input type="hidden" name="invest_id" th:value="${invest.id}">
                    <input type="hidden" name="user_id" th:value="${session.idno}">
                    <div   name="question" th:each="question:${questionlist}" th:action="@{/action_page.php/(question_id=${question.id})}">
                        <h2 th:text="${question.content}"></h2>
                        <div th:each="answer:${answerlist}"  th:if="${answer.question_id}==${question.id}" class="custom-control custom-radio "><!--class="custom-control custom-radio custom-control-inline"-->
                            <input th:type="${question.type}" class="custom-control-input" th:id="'answerid='+(${answer.id})" th:name="${question.id}" th:value="${answer.id}"><!--th:onclick="'save('+${invest.id}+','+${question.id}+','+${answer.id}+','+${session.member_id}+')'"-->
                            <label class="custom-control-label"  th:text="${answer.content}" th:for="'answerid='+(${answer.id})">自定义单选框</label>
                        </div>
                        <br>
                    </div>
                    <br>
                    <button id="submit" class="btn btn-primary" type="submit" th:text="提交" ></button>
                    <a  href="/myquestions/questions" class="btn btn-primary"  th:text="返回" ></a>
                </form>
        </div>
        <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <!--查看数据-->
    <div th:case="showdata">
        <div class="row container-fluid">
            <div class="col-sm-2">
                <ul class="list-group">
                    <li class="list-group-item">
                        功能
                    </li>
                    <li class="list-group-item">
                        <a  th:href="@{/excel/downexcelByinvest_id(id=${invest.id})}">导出问卷</a>
                    </li>
                    <li class="list-group-item">
                        <a   th:href="@{/excel/downdataexcelByinvest_id(id=${invest.id})} ">导出问卷数据</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <h2 th:text="${invest.title}" class="text-center font-weight-bold"></h2>
                <div th:each="question:${questionList}" class="card-body" th:id="'question'+${question.id}">
                    <h3 th:text="${question.content}" th:id="'question_content'+${question.id}"}></h3>
                    <div th:name="${question.type}" th:each="answer:${answerList}" th:if="${answer.question_id==question.id}" class="card-body form-inline">
                        <div class="col-sm-4"><h4 th:name="content" th:text="${answer.content}"></h4></div>
                        <div name="text-right" class="col-sm-4">
                            <h4 class="text-right" th:name="number" th:each="invest_data:${invest_dataList}" th:if="${invest.id==invest_data.invest_id && question.id==invest_data.question_id && answer.id==invest_data.answer_id}" th:text="${invest_data.number}"></h4>
                        </div>
                    </div>
                    <div class="form-inline">
                        <a class="btn btn-outline-primary" th:value="${question.id}">生成饼图</a>
                    </div>
                    <div class="space" th:id="'container'+${question.id}" ></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

</div>
</body>

<script language="javascript" type="text/javascript">
    function alert1(){
        if(confirm("确认提交吗？")==true)
            return true;
        else
            return false;
    }

    $(document).ready(function (){
        $("#find_button").click(function (){
            if(document.getElementById("find_input").value!="") {
                var url = "/myquestions/questions?question_name=" + document.getElementById("find_input").value
                window.location.replace(url);
            }
        })
    })

    $(document).ready(function(){
        $("#change_username").click(function (){
            var username=document.getElementById("main_username").value
            $.ajax({
                method:"get",
                url:"/myquestions/change_info",
                data:{username:username},
                error:function (data){
                    alert("连接失败，请检查网络连接");
                },
                success:function (data){
                    if(data) {
                        alert("username:修改成功");
                        window.location.reload();
                    }
                    else
                        alert("username:修改失败");
                }
            })
        })
        $("#change_pwd").click(function (){
            var pwd=document.getElementById("main_pwd").value
            $.ajax({
                method:"get",
                url:"/myquestions/change_info",
                data:{pwd:pwd},
                error:function (data){
                    alert("连接失败，请检查网络连接");
                },
                success:function (data){
                    if(data)
                        alert("pwd:修改成功");
                    else
                        alert("pwd:修改失败");
                }
            })
        })
        $("#change_tel").click(function (){
            var tel=document.getElementById("main_tel").value
            if(/^\d{11}$/.test(tel)) {
                $.ajax({
                    method: "get",
                    url: "/checktel",
                    data: {tel:tel},
                    error: function (data) {
                        alert("1 连接失败，请检查网络连接");
                    },
                    success: function (data) {
                        if (!data) {
                            alert("手机号已注册，请更换");
                        } else {
                            $.ajax({
                                method: "get",
                                url: "/myquestions/change_info",
                                data: {tel: tel},
                                error: function (data) {
                                    alert("2 连接失败，请检查网络连接");
                                },
                                success: function (data) {
                                    if (data)
                                        alert("tel:修改成功");
                                    else
                                        alert("tel:修改失败");
                                }
                            })
                        }
                    }

                })
            }
            else
            {
                alert("请检查手机号是否满足11位")
            }
        })
        $("#change_email").click(function (){
            var email=document.getElementById("main_email").value
            if(/@/.test(email)) {
                $.ajax({
                    method: "get",
                    url: "/checkemail",
                    data: {email: email},
                    error: function (data) {
                        alert("连接失败，请检查网络连接");
                    },
                    success: function (data) {
                        if (!data) {
                            alert("邮箱已注册，请更换");
                        } else {
                            $.ajax({
                                method: "get",
                                url: "/myquestions/change_info",
                                data: {email: email},
                                error: function (data) {
                                    alert("连接失败，请检查网络连接");
                                },
                                success: function (data) {
                                    if (data)
                                        alert("email:修改成功");
                                    else
                                        alert("email:修改失败");
                                }
                            })
                        }
                    }
                })
            }
            else {
                alert("请检查邮箱是否符合标准")
            }
        })
    })
</script>
<script language="javascript" type="text/javascript" th:inline="javascript">

    function save(invest_id,question_id,answer_id,member_id){
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("POST","/myquestions/addstatistic?invest_id="+invest_id+"&question_id="+question_id+"&answer_id="+answer_id+"&use_id="+member_id,true);
        // var member=new String('invest_id='+invest_id+'&question_id='+question_id+'&answer_id='+answer_id+'&use_id='+member_id);
        // alert(member)
        xmlhttp.send();
    }
    function answerquestion_user(invest_id,invest_status){
        if(invest_status==0) {
            alert("该问卷未开放答题，请等待")
            return;
        }
        if(invest_status==2) {
            alert("该问卷已结束答题，请重新选择")
            return;
        }
        var xhr =new XMLHttpRequest();

        xhr.onreadystatechange=function(){
            //判断是否一切正常
            if(xhr.readyState==4){
                if(xhr.status==200){
                    if(xhr.responseText=="true"){//说明该用户名，已经存在
                        if(confirm("已经回答该问题是否重新回答")==true) {
                            window.location.replace("/myquestions/reanswer?invest_id="+invest_id);
                        }
                        else
                            return false;
                    }else{
                        window.location.replace("/myquestions/showinvest?id="+invest_id);
                    }
                }
            }
        }

        xhr.open("POST","/ifanswer?invest_id="+invest_id+"&user_id="+[[${session.idno}]],false);
        xhr.send();
    }



    var a=0;
    $(document).ready(function () {
        $("#submit").click(function () {
                // $("input[type='radio']:checked").val();
            $.each($("div[name='question']"), function () {
                //判断input text为空未作
                // alert(1)
                // alert($(this).find("input[type='text']").val())
                if ($(this).find("input[type='radio']:checked").val() != null || $(this).find("input[type='checkbox']:checked").val() != null
                     || $(this).find("input[type='text']").val() !=""
                    ) {
                }else
                {
                    if(a==0) {
                        alert("请填写全部问题");
                    }
                    a++;
                    event.preventDefault();
                }
            });
            a=0;
        });
    });

    $(document).ready(function(){
        $.each($("div[name='question']"),function (){
            if($(this).find($("input[type='radio']")).length!=0){
                $(this).find("h2").append("(单选题)")
            }
            if($(this).find($("input[type='checkbox']")).length!=0){
                $(this).find("h2").append("(多选题)")
            }
            if($(this).find($("input[type='text']")).length!=0){
                $(this).find($("input[type='text']")).removeAttr("class");
                $(this).find($("input[type='text']")).removeAttr("value");
                $(this).find($("label")).remove();
                $(this).find("h2").append("(填空题)");
                $(this).find("div:gt(0)").remove();
            }
        })
    })
    // function  check(){
    //     // var radios=document.getElementsByName("1");
    //     // for(var i=0;i<radios.length;i++){
    //     //     if(radios[i].checked==true){
    //     //         i++;
    //     //         alert("你选中的是第"+i+"个单选框。值为："+radios[--i].value);
    //     //     }
    //     // }
    // }

    $(document).ready(function(){
        $.each($("div[name='text']"),function (){
            if($(this).find($("div[name='text-right']")).text()==0){
                $(this).remove();
            }
        })
    })
        // 显示图表
        $(document).ready(function() {
            $("a[class='btn btn-outline-primary']").click(function () {
                var question_id=$(this).attr('value');
                var chart = {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                };
                var title = {
                    text: '2014 年各浏览器市场占有比例'
                };
                var tooltip = {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                };
                var plotOptions = {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                };
                // $.post("/selectanswer?question_id="+question_id, {
                //     // 参数
                // }, function(data) {
                //     // data 为服务器返回的数据
                // });
                var series = [{
                    type: 'pie',
                    name: '占比',
                }];
                var data=[];
                title.text=$("#question_content"+question_id).text();
                $.each($("#question"+question_id), function () {
                    $.each($("#question"+question_id+">div[class='card-body form-inline']"), function () {
                        var content=$(this).find("h4[name='content']").text();
                        var number=$(this).find("h4[name='number']").text();
                        var test=[content,Number(number)];
                        data.push(test);
                    })
                })
                data.push()
                data.push()
                series[0].data=data;
                var json = {};
                json.chart = chart;
                json.title = title;
                json.tooltip = tooltip;
                json.series = series;
                json.plotOptions = plotOptions;
                console.log(json)
                $("#container"+question_id).highcharts(json);
            });
        });
        //为空数据显示0
        $(document).ready(function(){
            $.each($("div[name='text-right']"),function (){
                if($(this).find("h4[name='number']").length==0){
                    $(this).append("<h4 class=\"text-right\" th:name=\"number\">0</h4>")
                }
            })
        });

        $(document).ready(function (){
            $.each($("td[name='invest_status']"),function (){
                switch ($(this).text()){
                    case "0":$(this)[0].innerHTML="未开始";break;
                    case "1":$(this)[0].innerHTML="进行中";break;
                    case "2":$(this)[0].innerHTML="<td>已结束</td>";break;
                    default:console.log("wrong");break;
                }
            })
        })

    $(document).ready(function (){
        // $("#seemessage").click(function (){
        $("#main_user_id").html([[${session.idno}]])
        $.ajax({
            method:"post",
            url:"/getmember",
            data:{id:[[${session.idno}]]},
            success:function (data){
                console.log(data)
                $("#main_username").attr("value", data.username)
                $("#main_pwd").attr("value", data.pwd)
                $("#main_tel").attr("value", data.tel)
                $("#main_email").attr("value", data.email)
            }
        })
    })
</script>
</html>